<ion-header>
  <ion-toolbar color="primary">
    <ion-title>سیستم ترابری سازمانی</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding">

  <div class="footer">
    <img src="../../assets/taxi-service2.jpg" />
  </div>

  <div class="loading-container">
    <div class="loading-wrapper" class="ion-text-center">
      <ion-button expand="full" shape="round" (click)="selectVersion(1)">ورود راننده </ion-button>
      <ion-button expand="full" shape="round" (click)="selectVersion(2)">ورود مسافر</ion-button>

    </div>
  </div>

</ion-content>